*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
a{
    all: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e8a9b2;
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background: #fdfaf5;
    padding: 0 10px;
    z-index: 1;

}

/*############### NAV BAR #####################*/
.logo{
    display: flex;
    align-items: center;
    z-index: 1;

}
.img_logo{
    margin-right:30px;
    width: 6rem;
}
.title{
    font-size: 2.7rem;
    margin: 0 10px;
    color: #854556;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    transition: .5s;
}
.title:hover{
    color: #e4819c;
}

header .header-left {
    display: flex;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 600;
    max-width: inherit;
    display: block;
    color: #854556;
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 25px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: #e8a9b2; 
    color: #9b0029;
}
@media only screen and (min-width: 1001px) {
    
    header .header-right {
        margin: 0;
        position: absolute;
        top: -100%;
        transition: 0.3s;
        z-index: 1;
    }
}
header .header-right {
    display: flex;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #854556;
}
@media only screen and (max-width: 1000px) {
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #fdfaf5;
        padding: 30px;
        transition: 0.4s;
        text-align: center;
        z-index: 0;

    }
    main div.active{
        transition: .44s;
        margin-top: 230px;
    }
    header .header-left nav.active {
        top: 140px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 376px) {
    nav{
        display: block;
    }
    .title{
        font-size: 1.5em;
    }
    .img_logo{
        margin-right:15px;
        width: 4rem;
    }
    header .header-right .hamburger div {
        width: 30px;
        height: 2px;
        margin: 5px 0;
        background: #854556;
    }
}