*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    all: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F8E5E7 ;
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background: #fdfaf5;
    padding: 0 10px;
    z-index: 1;

}

/*############### NAV BAR #####################*/
.logo{
    display: flex;
    align-items: center;
    z-index: 1;

}
.img_logo{
    margin-right:30px;
    width: 6rem;
}
.title{
    font-size: 2.7rem;
    margin: 0 10px;
    color: #854556;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    transition: .5s;
}
.title:hover{
    color: #e4819c;
}

header .header-left {
    display: flex;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 600;
    max-width: inherit;
    display: block;
    color: #854556;
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 25px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: #e8a9b2; 
    color: #9b0029;
}
@media only screen and (min-width: 1001px) {
    
    header .header-right {
        margin: 0;
        position: absolute;
        top: -100%;
        transition: 0.3s;
        z-index: 1;
    }
}
header .header-right {
    display: flex;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #854556;
}
@media only screen and (max-width: 1000px) {
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #fdfaf5;
        padding: 30px;
        transition: 0.4s;
        text-align: center;
        z-index: 0;

    }
    main div.active{
        transition: .44s;
        margin-top: 230px;
    }
    header .header-left nav.active {
        top: 140px;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media only screen and (max-width: 376px) {
    nav{
        display: block;
        margin-top: 20px;
    }
    .title{
        font-size: 1.5em;
    }
    .img_logo{
        margin-right:15px;
        width: 4rem;
    }
    header .header-right .hamburger div {
        width: 30px;
        height: 2px;
        margin: 5px 0;
        background: #854556;
    }
}

/*###############  MAIN #####################*/
main{
    margin: 0;
    padding: 0;
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main_title{
    font-size: 4em;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
    color: #363636;
    text-shadow: 5px 5px #e8a9b2;
}
@media only screen and (max-width: 1050px){
    .main_title{
        font-size: 3em;
        text-shadow: 3px 3px #e8a9b2;
    }
}
.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .card{
    margin: 30px;
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width: 520px){
    .main_title{
        font-size: 2em;
    }
    .container .card{
        margin: 0px;
    }
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background-color: #e4819c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #9b0029;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    font-size: 1.5em;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 900;
    color: #000;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    color: #363636;
    opacity: 1;
    text-shadow: 3px 3px #363636;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 30px rgba(243, 72, 115, 0.4);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    transition: .5s;
    border: 1px solid #db1a32;
}

.content{
    font-family: 'Overlock', Arial, sans-serif;;
}
.container .card .face.face2 .content a:hover{
    background: #db1a32;
    color: #fff;
}